.topbar {
  background-color: rgba(186, 124, 89, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 1s ease-out;
}
.table1{
  border: 1px solid black;
  min-width: 100%;
  top: 150px;
  transition: all 1s ease-out;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  transition: all 1s ease-out;
}

.title {
  position: absolute;
  top: 320px;
  left: 45px;
  font-family: Interstate;
  font-size: 45px;
  transition: all 1s ease-out;
}

.title2 {
  position: absolute;
  top: -60px;
  left: 0px;
  font-family: Interstate;
  font-size: 45px;
  transition: all 1s ease-out;
}

.title3 {
  position: absolute;
  top: -60px;
  left: 0px;
  font-family: Interstate;
  font-size: 45px;
  line-height: 120%;
  transition: all 1s ease-out;
}

.intro {
  position: absolute;
  top: 400px;
  left: 50px;
  max-width: 45%;
  text-align: left;
  color: rgba(30, 30, 30, 1);
  font-size: 26px;
  line-height: 125%;
  transition: all 1s ease-out;
}

.list {
  font-size: 25px;
  text-align: left;
  position: absolute;
  top: 350px;
  left: 1400px;
  transition: all 1s ease-out;
}

.body2 {
  text-align: left;
  color: rgba(30, 30, 30, 1);
  font-size: 26px;
  line-height: 125%;
  position: absolute;
  top: 2300px;
  left: 50px;
  max-width: 90%;
  column-count: 3;
  column-gap: 40px;
  transition: all 1s ease-out;
}

.img1 {
  position:absolute;
  top:1050px;
  left:400px;
  border: 4px dotted black;
  transition: all 1s ease-out;
}
.img2 {
  position:absolute;
  top:1300px;
  left:100px;
  border: 4px dotted black;
  transition: all 1s ease-out;
}
.img3 {
  position:absolute;
  top:1350px;
  left:1050px;
  border: 4px dotted black;
  transition: all 1s ease-out;
}
.img4 {
  position:absolute;
  top:1600px;
  left:680px;
  border: 4px dotted black;
  transition: all 1s ease-out;
}
.img5 {
  position:absolute;
  top:2000px;
  left:900px;
  width:20%;
  height:20%;
  border: 4px dotted black;
  transition: all 1s ease-out;
}
.img6 {
  position:absolute;
  top:1250px;
  left:710px;
  border: 4px dotted black;
  width:15%;
  height:15%;
  transition: all 1s ease-out;
}
.img7 {
  position:absolute;
  top:1850px;
  left:600px;
  width:10%;
  height:10%;
  border: 4px dotted black;
  transition: all 1s ease-out;
}

.body3 {
  text-align: left;
  color: rgba(30, 30, 30, 1);
  font-size: 26px;
  line-height: 125%;
  position: absolute;
  top: 2800px;
  left: 50px;
  max-width: 100%;
  transition: all 1s ease-out;
}
.table2{
  border: 1px solid black;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 100px;
  transition: all 1s ease-out;
}
