
.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-self: center;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  padding: 40px;
}
.container2{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 50px;
  justify-self: center;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
}
  .imagecontainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-self: center;

}
.header{
  grid-column: 1/10;
  transform: scale(0.25);
  place-items: center;
  transition: transform 1s;
}
.header:hover {
 transform: scale(0.5);
}
.album {
  transition: transform 1s;
}

.album:hover {
  transform: scale(2.5);
  display: block;
}
